#login-form, #register-form {max-width: 600px;margin: 15% auto;}
.go-login, .go-register {margin-left: 8px;}
#result-msg {margin-right: 10px}

#main-nav {margin-top: 3%}
#main-nav li{width: 16.5%;text-align: center}
#main-nav li.user-box a{display: inline-block;padding-left: 0;cursor: pointer}
#main-nav li.user-box a:focus{outline: 0}
body{-background-image:url('../images/light_grey.png');-font-family: Tahoma,"Microsoft Yahei", sans-serif;}

/*首页*/
.welcome{display: inline-block;}
.userbox{display: inline-block;font-size:16px;margin-left:20px}

/*聊天室*/
.talk-wrap,.talk-content,.online-user{height: 400px;}
.talk-wrap{border: 1px solid #999;}
.talk-content{overflow: auto}
.talk-join{text-align: center}
.talk-join small{margin-left: 10px}
.online-user-head{text-align: center;border-bottom: 1px solid #999;margin-bottom: 10px}
.talk-content{border-right: 1px dotted gray;padding: 15px}
.talk-item{padding: 10px;margin: 0px;border: 1px -solid #e69;-border-radius: 5px}
.talk-item .alert{margin-bottom: 0;padding-top: 0;padding-bottom: 0}
.talker-info{position: relative;margin-bottom: 10px}
.talker-info .name-level{position:relative;top: 2px}
.talker-info .name-level>span:first-of-type{font-size: 18px}
.talker-info img{display: inline-block;max-width: 30px}
.talker-info div{display: inline-block}
.talker-info strong{}
.talker-info small{}
.alert-success{color: #000}
.online-user{padding-bottom: 20px}
.online-user-list{overflow: auto;height: 330px;}
.online-user-list img{display: inline-block;max-width: 20px;margin-right: 10px}
.online-user-list li{height: 20px;line-height: 20px;margin:5px 0;cursor: pointer}
.online-user-list li:hover{background-color: #ddd}
.submit-wrap{text-align: center}
.submit-form{min-height: 50px;height: auto;border: 1px solid #e69;margin: 10px;padding: 5px;text-align: left;border-radius: 5px}
.submit-form img{max-width: 32px}
.submit-btn{}
.hotkey-launch li span{margin-left: -14px;display: none}
.hotkey-launch li.active span{display: inline-block}
.paopao-action img, #paopao-expression img{max-width:32px;cursor: pointer}
.paopao-action img{margin-top: 30px}
#paopao-expression{width: 430px;position: absolute;display: none}
#torrent-list-table {margin-top: 50px;}

#torrent-list-table tr th:nth-of-type(1){width:50%;text-align:left}
#torrent-list-table tr td:nth-of-type(1){width:50%;text-align:left}
#torrent-list-nav, .comment-list-nav {text-align: center}

.upload-form {margin-top: 20px;}
.tracker-address {text-align: center;}
.submit-btn {text-align: center;}

.torrent-title {text-align: center;font-weight: bold;margin: 0 auto;}
.torrent-detail {margin-top: 30px;text-align: center;}
#detail-table {margin: 20px auto;}
#detail-table td span {margin-right: 15px}
#detail-table td a {margin-right: 15px}
#detail-table td button {margin-right: 15px}

#detail-table>tbody>tr>td:nth-of-type(1) {width: 10% !important; text-align: right;padding-right: 10px}
#detail-table>tbody>tr>td:nth-of-type(2) {width: 90% !important; text-align: left;padding-left: 10px;}
#upload-success-flash{margin: 10px}
#upload-success-flash strong{box-shadow:0 0 10px red;}
.comment-head {text-align: left; margin: 10px 0;}
#comment-list .item {margin: 20px 0;border-bottom: 1px dotted #999;}
#comment-list .item .avatar, .comment-content, .comment-box {text-align: left;}
#comment-list .item .action span {cursor: pointer}
.comment-content {border: 1px solid gray;padding: 5px}
.comment-content .floor-reply .reply{visibility:hidden}
.comment-box {border:none}
#submit {margin-top: 10px;}
.expression {overflow: hidden}
.expression img{cursor: pointer;}
.comment {text-align:left;height: 100px}
.comment-foot {height: 25px; line-height: 25px}
.comment-foot .social{text-align: center;}
.comment-foot .social span{margin-left: 15px;}
.comment-foot .action{text-align: right;}
.comment-foot .action span {margin-left: 15px}
.comment-list-nav a {cursor: pointer}
.floor-reply{text-align:right;margin:0;}
.reply{cursor:pointer}
#comment-list .comment-list-nav:first-of-type {border-bottom: 1px dotted #999;}
#quick-comment{margin-bottom:50px}

#checkout-logout-modal .modal-body{padding:30px;text-align:center}
#checkout-logout-modal .modal-footer{text-align:center}
#checkout-logout-modal .modal-footer button{margin:0 30px}

#profile td:nth-of-type(1){width: 20%}
.profile-main .page-header{font-weight: bold}
/*论坛*/
.bg-light-gray{background-color: #eee}
.forum-section-table thead{background-color: #ddd}
.forum-thread-table thead{background-color: #ddd}
.forum-thread-nav{text-align: right}
.forum-thread-nav .pagination{margin: 0}
.forum-thread-nav a:not(:first-of-type){margin:5px 0 0 10px}
.forum-section-today{color: red;font-weight: bold}
.forum-thread-action{text-align: center}
.forum-thread-user-action{text-align: center}
.forum-thread-user-action a{margin-right: 10px}
.forum-thread-reply{padding:20px 0; border-top: 1px solid #ddd}
.forum-thread-reply .user-info-table td p{white-space: nowrap}
#forum-thread-reply-list .forum-thread-reply:last-of-type{border-bottom: 1px solid #ddd}
.forum-thread-reply-action, .forum-thread-action{}
.forum-thread-reply-action .pagination{margin: 0}
.forum-thread-support-title{margin-top: 15px;margin-bottom: 15px}
.forum-thread-reply-reply{padding-right:0}
.forum-thread-reply-reply>.row{padding-top: 5px;padding-bottom: 5px;border-bottom: 1px dotted gray;margin:0}
.forum-thread-reply-reply div[class^=col-]{padding-left:0;padding-right:0}
.forum-thread-reply-reply img{max-width:50px}
.forum-thread-reply-reply .row:last-of-type{margin-bottom: 20px}
.forum-thread-reply-reply .row .forum-thread-reply-reply-reply{cursor: pointer; margin-left: 10px}

.forum-thread-title{font-size: 30px;font-weight: bold;color: #555}
.forum-thread-head{line-height: 50px;height: 50px}
.forum-thread-head>div:first-of-type{text-align: center;}
.forum-thread-head>div:first-of-type span{margin-right: 5px}
.forum-reply-user{background-color:#F2F2F2;text-align: center}
.forum-reply-reply-form{min-height: 50px;height: auto;border: 1px solid #a0b3d6;margin: 10px 0;padding: 5px}

#support a{cursor: pointer}

/*管理界面*/
.manage{margin-top: 20px}
.manage .manage-left{background-color: #282828;padding-left: 0;padding-right: 0}
.manage .manage-left a{color: #6E6E6E;display: block;width: 100%;text-align: center}
.manage .manage-left li{height: 50px;line-height: 50px; border-bottom: 1px solid #202020}
.manage .manage-left li:hover{background-color: #eee}
.manage .manage-left li.active{background-color: #ccc}


.manage .manage-main .section-list-table tr td:last-of-type a{margin-right: 10px}
.manage .manage-main .main-title{margin-bottom: 20px}
.manage .manage-main .user-search{margin: 0 10px}
.manage .manage-main .glyphicon-search{cursor: pointer}


.role-add-rule label input{position: relative;top: 2px}