#login-form, #register-form {max-width: 600px;margin: 15% auto;}
.go-login, .go-register {margin-left: 8px;}
#result-msg {margin-right: 10px}

#main-nav {margin-top: 3%}
#main-nav li{width: 19%;text-align: center}

#torrent-list-table {margin-top: 50px;}

#torrent-list-table tr th:nth-of-type(1){width:50%;text-align:left}
#torrent-list-table tr td:nth-of-type(1){width:50%;text-align:left}
#torrent-list-nav, .comment-list-nav {text-align: center}

.upload-form {margin-top: 20px;}
.tracker-address {text-align: center;}
.submit-btn {text-align: center;}

.torrent-title {text-align: center;font-weight: bold;margin: 0 auto;}
.torrent-detail {margin-top: 30px;text-align: center;}
#detail-table {margin: 20px auto;}
#detail-table td span {margin-right: 15px}
#detail-table td a {margin-right: 15px}
#detail-table td button {margin-right: 15px}

#detail-table td:nth-of-type(1) {width: 10% !important; text-align: right;padding-right: 10px}
#detail-table td:nth-of-type(2) {width: 90% !important; text-align: left;padding-left: 10px;}
#upload-success-flash strong{box-shadow:0 0 10px red;}
.comment-head {text-align: left; margin: 10px 0;}
#comment-list .item {margin: 20px 0;border-bottom: 1px dotted #999;}
#comment-list .item .avatar, .comment-content, .comment-box {text-align: left;}
#comment-list .item .action span {cursor: pointer}
.comment-content {border: 1px solid gray;padding: 5px}
.comment-content .floor-reply .reply{visibility:hidden}
.comment-box {border:none}
#submit {margin-top: 10px;}
.expression {overflow: hidden}
.expression img{cursor: pointer;}
.comment {text-align:left;height: 100px}
.comment-foot {height: 25px; line-height: 25px}
.comment-foot .social{text-align: center;}
.comment-foot .social span{margin-left: 15px;}
.comment-foot .action{text-align: right;}
.comment-foot .action span {margin-left: 15px}
.comment-list-nav a {cursor: pointer}
.floor-reply{text-align:right;margin:0;}
.reply{cursor:pointer}
#comment-list .comment-list-nav:first-of-type {border-bottom: 1px dotted #999;}
#quick-comment{margin-bottom:50px}

#checkout-logout-modal .modal-body{padding:30px;text-align:center}
#checkout-logout-modal .modal-footer{text-align:center}
#checkout-logout-modal .modal-footer button{margin:0 30px}

#profile td:nth-of-type(1){width: 20%}




/*管理界面*/
.manage{margin-top: 20px}
.manage .manage-left{background-color: #282828;padding-left: 0;padding-right: 0}
.manage .manage-left a{color: #6E6E6E;display: block;width: 100%;text-align: center}
.manage .manage-left li{height: 50px;line-height: 50px; border-bottom: 1px solid #202020}
.manage .manage-left li:hover{background-color: #eee}
